/* Clientes */

main{
    .surge {
        text-align: center;
        margin-bottom: 20px;
    }
    .formulario {
        margin-bottom: 20px;
    }
    
    .h1cli {
        text-align: center;
    }
}
